.container {
  padding: 0 2rem;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

.container {
  padding: 40px 100px;
}

.container-menu {
  padding-bottom: 16px;
}

.container-list-menu {
  display: flex;
}

.menu {
  color: var(--light-invert-color-subtitle, #999);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.menu-item {
  padding: 0px 16px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
}

.menu-item span {
  line-height: 24px;
}

.menu-checkbox {
  padding-right: 8px;
}

.menu-checkbox img {
  width: 24px;
  height: 24px;
}

.table {
  text-align: center;
}

.table-header {
  background-color: #fff;
}

.header-item {
  height: 40px;
  width: 112px;
}

.item-green {
  height: 40px;
  width: 112px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--light-yellow-50, #23EF5C);
}

.item-none {
  height: 40px;
  width: 112px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--light-invert-color-devider, #F4F4F4);
}

.item-red {
  height: 40px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--light-green-50, #EF233C);
}

.item-yallow {
  height: 40px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--dark-invert-color-secondary, #FFDC0D);
}

.popup-detail {
  display: none;
  position: absolute;
  z-index: 1111;
  background-color: #fff;
  border-radius: 5px;
}

.item-green:hover .popup-detail {
  display: block !important;
}

.title-status {
  padding: 10px 16px;
}

.status {
  padding: 10px 16px;
  background-color: #23EF5C;
  border-radius: 10px;
}

.header-content {
  text-align: left;
  padding-bottom: 15px;
}

.header {
  color: var(--light-invert-color-text-on-top, #121212);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
  padding-right: 10px;
  padding-left: 15px;
}

.content {
  color: var(--light-invert-color-text-on-top, #121212);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.24px;
}

.container-table {
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .status {
    width: 100%;
  }

  .container-list-menu {
    display: block;
  }

  .list-menu-item {
    display: flex;
    padding: 10px;
  }

  .menu-item {
    width: 50%;
  }

  .item-green {
    word-break: break-all;
  }
  .popup-detail {
    right: 0px;
  }
}