.container {
  padding: 0 2rem;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/font/SVN-SignPainterHouseScript.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.banner_text {
  font-family: 'MyCustomFont';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-size: 128px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 2px 2px #FFD400;
}

.banner_text h1 {
  margin: 0;
  font-weight: 400;
}

.container-fluid {
  width: 100vw;
  background-color: #223453;
  padding: 0;
  height: 100%;
}

.container-fluid .heading {
  color: #fff;
  font-weight: bold;
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 1rem;
  margin-top: 20px;
}

.container-fluid .heading::after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  left: 0;
  top: 2px;
  width: 0.3rem;
  height: 2rem;
  z-index: 0;
  box-sizing: border-box;
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 700;
}

.title-home-card {
  padding-bottom: 20px;
}

.title-card {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  transition: color .3s ease;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.title-new {
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  transition: color .3s ease;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.title-card-item {
  color: #fff !important;
  font-size: 14px;
  text-decoration: none;
  transition: color .3s ease;
}

.title-home {
  margin-top: -110px;
  padding-left: 12px;
}

.title-news {
  margin-top: -50px;
  padding-left: 10px;
}

.title-new-text {
  color: #fff !important;
}

.description-text {
  padding: 5px 12px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  color: #fc4c26 !important;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 20px;
  font-weight: 700;
}

.title,
.description {
  text-align: left;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  color: #fc4c26 !important;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.banner_sider {
  background-image: url("../public/img_rigister_check_in.png");
  padding-top: 40px;
  display: flex;
}

.banner_sider_connent {
  width: 50%;
  padding-left: 100px;
  padding-right: 40px;
  padding-top: 100px;
  text-align: left;
  display: block;
}



.banner_sider_connent h2 {
  color: var(--light-invert-color-text-on-top, #121212);
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.banner_sider_connent span {
  color: var(--light-invert-color-body-text, #333);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}

.register-banner_sider {
  border-radius: 100px;
  background: var(--light-invert-color-bar, #4671F6);
  width: 171px !important;
  height: 44px !important;
  text-align: center;
}

.register-text {
  color: #fff !important;
  line-height: 42px !important;
}

.banner_sider_img {
  width: 50%;
}

.archirectural-drawing {
  padding-top: 40px;
  background-image: url("../public/img_archirectural-drawing.png");
}

.title-archirectural-drawing {
  padding-top: 83px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.header {
  width: 90%;
}

.header p {
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.view-total {
  width: 10%;
  color: #DE2027;
  padding-top: 15px;
}

.table {
  padding-top: 16px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.table-header {
  background-color: #fff;
}

.header-item {
  /* height: 40px; */
  width: 112px;
}

.item-green {
  height: 40px;
  width: 112px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--light-yellow-50, #23EF5C);
}

.item-none {
  height: 40px;
  width: 112px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--light-invert-color-devider, #F4F4F4);
}

.item-red {
  height: 40px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--light-green-50, #EF233C);
}

.item-yallow {
  height: 40px;
  border: 0.5px solid var(--dark-invert-color-text-on-top, #FFF);
  background: var(--dark-invert-color-secondary, #FFDC0D);
}

.new {
  padding-top: 40px;
  background-color: #fff;
}

.title-archirectural-drawing {
  padding-top: 83px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.new-item {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.new-left {
  width: 50%;
  background-image: url("../public/img_new_one.png");
  background-repeat: round;
  background-size: cover;
  height: 502px;
}

.content {
  padding-top: 400px;
}

.new-left-title {
  padding: 0px 16px;
  color: var(--dark-invert-color-text-on-top, #fff);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.new-left-time {
  padding: 0px 16px;
  display: flex;
}

.new-left-time span {
  color: var(--dark-invert-color-text-on-top, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 8px;
}

.new-clock {
  width: 24px !important;
  height: 24px !important;
}

.new-right {
  /* width: 50%; */
}

.new-right-item {
  display: flex;
  padding-left: 10px;
}

.new-right-item-one {
  padding-right: 16px;
}

.new-right-item-one-content {
  width: 100%;
  padding-right: 4px;
  background-image: url("../public/img_new_two.png");
  background-repeat: round;
  background-size: cover;
  height: 239px;
}

.new-right-item-two-content {
  width: 98%;
  padding-left: 4px;
  background-image: url("../public/img_new_three.png");
  background-repeat: round;
  background-size: cover;
  height: 239px;
}

.content-right {
  padding-top: 130px;
}

.new-left-title-item {
  padding: 0px 16px;
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 300px;
}

.new-right-item-footer {
  padding-top: 24px;
  display: flex;
}

.new-right-item-page-two {
  display: flex;
  padding-left: 10px;
  padding-top: 24px;
}

.new-right-item-three-content {
  width: 98%;
  padding-left: 4px;
  background-image: url("../public/img_new_four.png");
  background-repeat: round;
  background-size: cover;
  height: 239px;
}

.new-right-item-four-content {
  width: 98%;
  padding-left: 4px;
  background-image: url("../public/img_new_five.png");
  background-repeat: round;
  background-size: cover;
  height: 239px;
}

.contact {
  padding-top: 40px;
}

.contact-bg {
  background-image: url("../public/img_contact.png");
  background-repeat: round;
  background-size: cover;
  display: flex;
}

.branch {
  width: 50%;
  padding: 101px 100px;
}

.form-branch {
  padding: 20px 0px
}

.form-branch-item {
  display: flex;
}

.provice {
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.icon-branch {
  width: 24px;
  height: 24px;
}

.icon-text {
  padding-left: 10px;
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}

.line {
  height: 1px;
  background: rgba(255, 255, 255, 0.50);
}

.form-contact {
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12.5px);
}

.form-contact-header {
  padding: 100px 100px;
  text-align: center;
}

.header-title {
  padding-top: 100px;
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}

.header-content {
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}
.contact-input input{
  width: 100%;
}

.contact-input {
  padding-bottom: 16px;
}

.form-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 504px;
}

.form-select {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
  width: 100%;
}

.form-select span {
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.form-input-description {
  display: flex;
  height: 58px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
  width: 504px;
}

.send-information {
  border-radius: 100px;
  background: var(--light-primary-50, #4671F6);
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  width: 100%;
}

.form-select span {
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}





@media (max-width: 600px) {

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .banner_sider_connent {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .new-card {
    width: 100% !important;
    height: 70vw !important
  }

  .first-item-newfeed {
    height: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  .new-news .news-content p {
    margin-top: 10px !important;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.title,
.title-white,
.new-news a,
.new-card-item a {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: color .3s ease;
  line-height: 1.5em;
  width: 100%;
}

.title-white {
  color: #fff !important;

}

.title-white:hover {
  cursor: pointer;
  color: #fc4c26 !important;
}

.new-card {
  padding-right: 8px;
}

.new-card-item .description {
  color: #333;
  font-size: 1rem;
  letter-spacing: -.02rem;
  text-decoration: none;
  transition: color .3s easse;
  line-height: 2rem;
}

.title:hover,
.new-card img:hover,
.new-card .title:hover,
.new-card-item img:hover,
.new-card-item a:hover,
.new-card-item .title:hover {
  color: #fc4c26 !important;
  cursor: pointer;
}

.new-news {
  margin-top: 0;
  max-height: 400px;
}

.new-news .news-content {
  display: flex;
  /* margin: 5px 0px; */
}

.new-news .news-content p {
  margin-left: 10px;
}

/* .img-thumb-medium {
  width: 104px;
} */

@media only screen and (max-width: 800px) {
  .new-news .news-content p {
    margin-top: 0 !important;
    max-height: 90px;
    overflow: hidden;
  }

  .new-news {
    /* max-height: 200px; */
    margin-top: 0;
  }
}

.card-item-transfer {
  width: "153px";
  height: "95px"
}

/* .imageItem:hover{
  transform: scale(1.2);
} */

.new-card-item-hidden-new-feed {
  overflow: hidden;
  width: 140px;
  height: 80px;
  float: left;
}

.new-card-item-hidden-backstage {
  overflow: hidden;
  width: 100%;
  height: 130px !important;
  margin-top: 20px;
}

.new-card-item-hidden-transfer-info {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 95px;
}

.new-card-item:not(:first-child) {
  margin-left: 18px;
}

.new-card-item {
  width: calc(100% - 12px);
}

.popup-detail {
  display: none;
  position: absolute;
  z-index: 1111;
  background-color: #fff;
  border-radius: 5px;
}

.item-green:hover .popup-detail {
  display: block !important;
}

.title-status {
  padding: 10px 16px;
}

.status {
  padding: 10px 16px;
  background-color: #23EF5C;
  border-radius: 10px;
}

.header-content {
  /* text-align: left; */
  padding-bottom: 15px;
}

.header {
  color: var(--light-invert-color-text-on-top, #121212);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
  padding-right: 10px;
  padding-left: 15px;
}

.content {
  color: var(--light-invert-color-text-on-top, #121212);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.24px;
}


@media only screen and (max-width: 600px) {
  .event_text-title {
    font-size: 20px !important;
  }

  .event_text-detail {
    font-size: 15px !important;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .banner_sider_connent {
    padding: 20px 50px;
    /* max-width: 1000px; */
    position: relative;
    width: 100%;
  }

}

.select-data-home{
  background: none;
  color: var(--dark-invert-color-text-on-top, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}