.manage-account {
    padding: 106px 100px;
    display: flex;
}

.menu {
    width: 25%;
}

.container-menu {
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.container {
    padding: 16px;
}

.header {
    display: flex;
}

.header-title {
    width: 90%;
    text-align: left;
}

.header-title span {
    color: var(--light-invert-color-text-on-top, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.header-img {
    width: 10%;
}

.header-img img {
    width: 24px;
    height: 24px;
}

.item-menu-check {
    border-radius: 12px;
    background: #F4F7FD;
    padding: 8px 8px 8px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: #2461D5;
    display: flex;
}

.item-menu-check-parent {
    border-radius: 12px;
    background: #F4F7FD;
    padding: 8px 8px 8px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: #2461D5;
}


.item-menu-un-check {
    border-radius: 12px;
    padding: 8px 8px 8px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: var(--light-invert-color-text-on-top, #121212);
    display: flex;
}

.item-menu-un-check-parent {
    border-radius: 12px;
    padding: 8px 8px 8px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: var(--light-invert-color-text-on-top, #121212);
    display: flex;
}

.item-menu-un-check:hover {
    border-radius: 12px;
    background: #F4F7FD;
    padding: 8px 8px 8px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: #2461D5;
}

.item-menu-un-check img {
    width: 24px;
    height: 24px;
}

.item-menu-check img {
    width: 24px;
    height: 24px;
}

.item-menu-title {
    padding-left: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.manage-info {
    padding-top: 16px;
}

.manage-info-title {
    color: var(--light-invert-color-subtitle, #999);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.register-service-menu {
    display: flex;
}

.icon-menu {
    width: 10%;
}

.item-menu-title {
    width: 90%;
    text-align: left;
}

.icon-down {
    width: 10%;
}

.icon-down {
    padding-left: 0px;
}

.manage-info-item {
    padding-bottom: 10px;
}

.servive {
    padding: 5px 24px;
}

.check {
    padding: 5px 24px;
    list-style-type: disc;
    cursor: pointer;
}

.un-check {
    color: #121212;
    padding: 5px 24px;
    list-style-type: disc;
    cursor: pointer;
}

.content {
    width: 75%;
    padding-left: 30px;
}

.content-header {
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background: var(--light-invert-color-devider, #F4F4F4);
}

.content-header img {
    width: 24px;
    height: 24px;
}

.lable-button-history {
    padding-left: 10px;
}

.content-title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    width: 50%;
}

.content-title-bill {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    display: flex;
}

.button-create {
    border-radius: 100px;
    background: #FFF;
    width: 145px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.button-create-green {
    border-radius: 100px;
    background: var(--light-invert-color-bar, #4671F6);
    width: 145px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
}

.button-create-edit {
    color: var(--light-primary-50, #4671F6);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: 0.24px;
    text-transform: capitalize;
}

.content-container {
    padding-top: 30px;
    display: flex;
}

.container-left {
    width: 50%;
}

.container-item {
    text-align: left;
    padding: 0px 8px;
    padding-bottom: 10px;
}

.container-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.24px;
    margin-bottom: 5px;
}

.container-content {
    color: var(--light-invert-color-text-on-top, #121212);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.24px;
}

.container-right {
    width: 50%;
}

.content-button {}

.content-button-bill {
    width: 50%;
}

.content-button-calendar {
    width: 100%;
}

.content-button-calendar p {
    margin-bottom: 0px;
    width: 100%;
}

.content-button-calendar p img {
    text-align: right;
}

.icon-calendar {
    padding-right: 5px;
    text-align: right;
}

.icon-calendar img {
    width: 24px;
    height: 24px;
}

.content-table {
    padding-top: 16px;
}

.content-meeting {
    padding-top: 16px;
}

.content-table table {
    width: 100%;
}

.table-header {
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px 16px 0px 0px;
}

.header-item {
    padding: 10px 16px;
    background: var(--light-invert-color-devider, #F4F4F4);
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.table-content {
    height: 50px;
    padding: 10px 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.content-item-code {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-period {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-period-car {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-month {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-month-car {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 20%;
    text-align: center;
}

.content-item-year {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-debt {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-status {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.content-item-status-car {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 20%;
    text-align: center;
}

.content-item-action {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 20%;
    text-align: center;
    display: flex;
}

.content-item-action-car {
    display: flex;
    justify-content: center;
}

.status-success {
    border-radius: 100px;
    background: #FEF4F5;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #23EF5C;
}

.status-erro {
    border-radius: 100px;
    background: #FEF4F5;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #DE2027;
}

.status-load {
    border-radius: 100px;
    background: #FEF4F5;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: yellow;
}

.download {
    color: var(--light-invert-color-bar, #4671F6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 15px;
    padding-top: 10px;
}

.detail {
    color: var(--light-invert-color-bar, #4671F6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
}

.icon-detail {
    padding-right: 15px;
}

.icon-detail img {
    width: 24px;
    height: 24px;
}

.icon-delete img {
    width: 24px;
    height: 24px;
}

.model-service {
    width: 100%;
}

.model-car-service {
    z-index: 100;
    display: flex;
    position: fixed;
    height: 100%;
    z-index: 110;
    top: 0px;
    left: 280px;
    right: 0px;
    background-color: #e8e8e8;
    border-radius: 12px 0px 0px 12px;
    display: block;
    overflow: scroll;
}

.model-header {
    padding: 15px 15px 15px 15px;
    width: 100%;
}

.model-header-close {
    display: flex;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 10px;
}

.model-title {
    display: flex;
    width: 90%;
    height: 35px;
}

.model-title-text {
    color: var(--light-invert-color-text-on-top, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    width: 20%;
}

.model-title-text-bill {
    color: var(--light-invert-color-text-on-top, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    width: 100%;
}

.model-title-select {
    padding-left: 8px;
}

.select {
    width: 35%;
}

.standard-select {
    color: var(--light-invert-color-bar, #4671F6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.24px;
    width: 190px;
    height: 25px;
    background-color: #fff;
    padding-left: 10px;
}

.model-close {
    width: 10%;
    text-align: right;
    height: 35px;
    display: flex;
}

.model-close img {
    width: 24px;
    height: 24px;
}

.select-model {
    border-radius: 30px !important;
    padding: 4px 8px !important;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.select-item {
    color: var(--light-invert-color-text-on-top, #131313);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.standard-select:after {
    border-radius: 30px !important;
    background: #e8e8e8 !important;
    padding: 4px 8px !important;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.model-container {
    padding: 0px 30px 0px 30px;
}

.item-container {
    padding-bottom: 24px;
    width: 100%;
}

.container-data {
    display: flex;
    width: 100%;
    padding-bottom: 8px;
}

.item-data {
    width: 33.3%;
    padding-right: 10px;
}

.lable-data {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.24px;
    margin-bottom: 5px;
}

.select-data {
    border-radius: 30px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 16px;
    width: 80%;
}

.input-data {
    border-radius: 30px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 16px;
    width: 80%;
}

.input-data-full {
    border-radius: 30px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 16px;
    width: 100%;
}

.date-picker-data {
    border-radius: 30px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 16px;
    width: 80%;
}

.date-picker-car-service {
    border-radius: 30px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 16px;
    width: 100%;
}

.date-picker-data-full {
    border-radius: 30px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 16px;
    width: 100%;
}

.item-data-full {
    width: 100%;
}

.buttom-upload-text {
    color: var(--light-invert-color-bar, #4671F6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.ant-upload.ant-upload-select-picture-card {
    background-color: #e8e8e8 !important;
    border: none !important;
}

.lable-data-note {
    color: #999;
}

.item-data-button {
    border-radius: 100px;
    background: #F6F8FF;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #4671F6;
}

.item-data-full-button {
    width: 100%;
    text-align: right;
}

.item-data-full table {
    width: 100%;
}

.item-save {
    border-radius: 100px;
    background: var(--light-primary-50, #4671F6);
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.item-save-full {
    border-radius: 100px;
    padding: 12px 16px;
    background: var(--light-green-50, #2461D5);
    color: var(--dark-invert-color-text-on-top, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.24px;
    text-transform: capitalize;
    width: 100%;
}

.modal-edit-close {
    display: none;
}

.modal-edit-open:hover::before {
    display: block;
}

.ant-modal {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
}

.compulsory {
    color: red;
}

.lable-info {
    color: var(--light-invert-color-subtitle, #999);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.input-data-content {
    height: 70px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    background: var(--light-invert-color-devider, #F4F4F4);
    width: 100%;
}

.button-history {
    border-radius: 100px;
    background: #FFF;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #4671F6;
}

.list-room {
    width: 100%;
}

.room {
    display: flex;
}

.room-item {
    width: 33.3%;
    border-radius: 16px;
    padding: 10px;
}

.room-container {
    padding: 16px 16px;
    background: var(--light-invert-color-devider, #F4F4F4);
}

.room-price {
    width: 100%;
    display: flex;
}

.title-price {
    width: 65%;
    color: var(--light-invert-color-body-text, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.price {
    width: 35%;
    color: var(--light-invert-color-primary, #DE2027);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.room-content {
    color: var(--light-invert-color-body-text, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.history-container {
    display: flex;
}

.room-img {
    width: 50%;
}

.room-img-item {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.room-img-item span {
    padding: 0px 10px;
}

.room-img-item span img {
    width: 61px;
    height: 61px;
}

.room-content {
    padding-top: 10px;
}

.room-data {
    width: 50%;
    padding-left: 30px;
}

.room-number {
    padding-left: 10px;
    color: var(--light-invert-color-text-on-top, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.room-data-price {
    padding-left: 10px;
    color: var(--light-invert-color-primary, #DE2027);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.room-data-date {
    display: flex;
}

.room-data-date p {
    width: 50%;
    line-height: 45px;
}

.room-data-time {
    width: 100%;
    border-radius: 16px;
    background: var(--light-invert-color-devider, #F4F4F4);
    padding: 8px 0px;
}

.room-data-time-item {
    display: flex;
}

.room-data-time-item p {
    width: 33.3%;
    color: var(--light-invert-color-subtitle, #999);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 0px 10px;
}

.room-data-datatime {
    padding-top: 10px;
}

.room-data-item {
    padding-top: 20px;
}

.save-text {
    color: var(--dark-invert-color-text-on-top, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: 0.24px;
    text-transform: capitalize;
}

.input-title {
    padding: 0px !important;
}

.form-select-home {
    background: var(--light-invert-color-devider, #F4F4F4);
    border-radius: 30px;
    padding: 3px 16px;
    width: 80%;
}

.form-select-home-input {
    border-radius: 30px;
    width: 80%;
}

.form-select-car {
    background: var(--light-invert-color-devider, #F4F4F4);
    border-radius: 30px;
    padding: 8px 16px;
    width: 100%;
}

.form-select-car-service {
    background: var(--light-invert-color-devider, #F4F4F4);
    border-radius: 30px;
    width: 80%;
}

.form-select-car-service-full {
    background: var(--light-invert-color-devider, #F4F4F4);
    border-radius: 30px;
    width: 100%;
}

.form-select {
    background: rgba(0, 0, 0, 0.05) !important;
    border-radius: 30px;
    padding: 0px 0px;
    width: 100%;
}

.padding-form {
    padding: 0px 0px;
}

.icon-menu-mobile {
    display: none;
}

.list-menu-pc {
    display: block;
}

.list-menu-mobile {
    display: none;
}

.content-table-mobile {
    display: none;
}

.model-title-text img {
    display: none;
}

.model-title-text-bill img {
    display: none;
}

.model-close-text {
    cursor: pointer;
}

.download-bill {
    background-color: #4671f6;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.header-item-bill {
    width: 33.3%;
}

@media screen and (max-width: 600px) {
    .form-select-car-service {
        background: var(--light-invert-color-devider, #F4F4F4);
        border-radius: 30px;
        width: 100%;
    }

    .manage-account {
        padding: 0px;
        padding-top: 61px;
        display: block;
    }

    .content {
        width: 100%;
        padding-left: 0px;
    }

    .content-header {
        border-radius: 0px;
    }

    .content-container {
        display: block;
    }

    .container-left {
        width: 100%;
        padding: 0px 16px;
    }

    .container-right {
        width: 100%;
        padding: 0px 16px;
    }

    .container-menu {
        display: block;
    }

    .list-menu-pc {
        display: none;
    }

    .container {
        padding: 0px;
    }

    .menu {
        width: 100%;
    }

    .header-img {
        width: 10%;
        padding-top: 10px;
    }

    .header-title {
        width: 90%;
        padding-top: 10px;
        padding-left: 10px;
    }

    .container-menu {
        background: #4671F6;
        border-radius: 0px;
    }

    .header-title span {
        color: var(--light-invert-color-text-on-top, #fff);
    }

    .icon-menu-mobile {
        display: block;
    }

    .icon-menu-pc {
        display: none;
    }

    .list-menu-mobile {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        background: rgb(239 233 233 / 87%);
        backdrop-filter: blur(15px);
        z-index: 1111;
    }

    .menu-mobile-header {
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        padding-top: 20px;
        width: 300px;
    }

    .menu-mobile-header-text {
        width: 90%;
        color: var(--light-invert-color-text-on-top, #121212);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.24px;
    }

    .menu-mobile-header-img {
        width: 10%;
    }

    .menu-mobile-header-img img {
        width: 24px;
        height: 24px;
    }

    .line-mobile {
        height: 1px;
        background: rgba(0, 0, 0, 0.10);
    }

    .menu-mobile-info-text {}

    .content-table {
        display: none;
    }

    .content-table-mobile {
        display: block;
        padding-top: 10px;
    }

    .table-item-mobile {
        padding-top: 10px;
    }

    .row-item-data {
        display: flex;
        padding: 5px 10px;
    }

    .date-time {
        width: 50%;
        color: var(--light-invert-color-text-on-top, #121212);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    .data-code {
        width: 50%;
        color: var(--light-invert-color-text-on-top, #121212);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .status {
        width: 100%;
        color: var(--light-invert-color-subtitle, #999);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    .data-status-error {
        color: var(--dark-invert-color-primary, #DE2027);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        border-radius: 100px;
        width: 100%;
        text-align: right;
    }

    .data-status-load {
        color: var(--dark-invert-color-primary, yellow);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        border-radius: 100px;
        width: 100%;
        text-align: right;
    }

    .data-status-succes {
        color: var(--dark-invert-color-primary, #23EF5C);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        border-radius: 100px;
        width: 100%;
        text-align: right;
    }

    .data-status span {
        background: #FEF4F5;
    }

    .data-download {
        color: var(--light-invert-color-bar, #4671F6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
        width: 100%;
    }

    .status img {
        width: 24px;
        height: 24px;
    }

    .data-download img {
        width: 24px;
        height: 24px;
    }

    .mobile-active {
    }

    .model-close {
        display: none;
    }

    .model-title {
        display: block;
        width: 100%;
    }

    .model-title-text {
        text-align: center;
        display: flex;
    }

    .model-title-text img {
        width: 24px;
        height: 24px;
        display: block;
    }

    .model-title-text span {
        text-align: center;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-transform: uppercase;
    }

    .model-header-close {
        display: block;
        border-bottom: 0px solid #ccc !important;
    }

    .form-select-home {
        width: 100%;
    }
    .model-container-car-service {
        padding: 20px 30px 0px 30px;
    }
    .model-container {
        padding: 0px 30px 0px 30px;
    }

    .model-container-mobile {
        padding: 10px 0px 0px 0px;
    }

    .container-data {
        display: block;
    }

    .item-data {
        width: 100%;
        padding-top: 10px;
    }

    .input-data {
        width: 100%;
    }

    .date-picker-data {
        width: 100%;
    }

    .item-data-full-button {
        text-align: center;
    }

    .lable-data {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

    .date-name {
        width: 100%;
        color: var(--light-invert-color-text-on-top, #121212);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .item-data-full table {
        display: none;
    }

    .select {
        padding-top: 10px;
        padding: 0px 22px 0px 11px;
        width: 100%;
    }

    .room {
        display: block;
    }

    .room-item {
        width: 100%;
    }

    .history-container {
        display: block;
    }

    .room-img {
        width: 100%;
    }

    .room-data {
        width: 100%;
        padding-left: 0px;
    }

    .model-title-text {
        color: var(--light-invert-color-text-on-top, #121212);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-transform: uppercase;
        width: 100%;
    }
    .model-header {
        padding: 0px 15px 0px 15px;
    }
}